{% extends 'assets/static/base.html' %}
{% load static %}
{% block content %}
<div class="container-scroller">
	<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
	    <a class="navbar-brand ps-3 text-white" href="{% url 'home' %}">
		    <h3 class="sidebar-brand brand-logo text-white">BarberShop</h3>
{#		    <a class="sidebar-brand brand-logo" href="{% url 'home' %}"><img src="{% static 'images/barbershop-logo.png' %}" alt="logo" /></a>#}
		    <a class="sidebar-brand brand-logo-mini" href="{% url 'home' %}"><img src="{% static 'images/logo-mini-b.png' %}" alt="logo" />
		    </a>
		</a>
    </div>
    <ul class="nav">
      <li class="nav-item profile">
        <div class="profile-desc">
          <div class="profile-pic">
            <div class="count-indicator">
              <img class="img-xs rounded-circle " src="{% static 'assets/images/faces/face15.jpg' %}" alt="">
              <span class="count bg-success"></span>
            </div>
            <div class="profile-name">
                {% if user.is_authenticated %}
	                <h5 class="mb-0 font-weight-normal">{{ user.username }}</h5>
                {% else %}
	                <p class="text-white">Visitante</p>
                {% endif %}
            </div>
          </div>
          <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
          <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
            <a href="{% url 'minha_conta' %}" class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-settings text-primary"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject ellipsis mb-1 text-small">Configurações</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'password_reset' %}" class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-onepassword  text-info"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject ellipsis mb-1 text-small">Mudar Senha</p>
              </div>
            </a>
          </div>
        </div>
      </li>
      <li class="nav-item nav-category">
        <span class="nav-link">Navegação</span>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="{% url 'home' %}">
		<span class="material-symbols-outlined">
		home
		</span>
          <span class="menu-title">Home</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
		<span class="material-symbols-outlined">
		calendar_add_on
		</span>
          <span class="menu-title">Agendamento</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'selecione_profissional_para_agendamento' %}">Fazer agendamento</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'listar_agendamentos_cliente' %}">Meus Agendamentos</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
		<span class="material-symbols-outlined">
		admin_panel_settings
		</span>
          <span class="menu-title">Administrativo</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'listar_e_cadastrar_usuarios' %}">Usuários</a>
            <li class="nav-item"> <a class="nav-link" href="{% url 'add_disponibilidade' %}">Disponibilidade</a>
            <li class="nav-item"> <a class="nav-link" href="{% url 'listar_horarios' %}">Horários</a>
            <li class="nav-item"> <a class="nav-link" href="{% url 'add_parametro' %}">Parametros</a>
            <li class="nav-item"> <a class="nav-link" href="{% url 'add_servico' %}">Serviços</a>
            <li class="nav-item"> <a class="nav-link" href="{% url 'add_imagem_servico' %}">Imagens de Serviços</a>
            <li class="nav-item"> <a class="nav-link" href="{% url 'adicionar_fidelidade' %}">Fidelidade</a>
          </ul>
        </div>
      </li>
        <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basico" aria-expanded="false" aria-controls="ui-basico">
			<span class="material-symbols-outlined">
			calendar_add_on
			</span>
              <span class="menu-title">Agendamento</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basico">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'fazer_agendamento_pelo_profissional' %}">Fazer agendamento</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'listar_agendamentos' %}">Agendamentos</a></li>
              </ul>
            </div>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="{% url 'mostrar_pontos' user.id %}">
		<span class="material-symbols-outlined">
		card_membership
		</span>
          <span class="menu-title">Fidelidade</span>
        </a>
      </li>
    </ul>
  </nav>

<div class="main-panel">
	<div class="container py-5 mb-5">
	    <div class="row">
	        <div class="col-md-6 mt-3 mt-md-0">
	            <div class="table-responsive">
	                <table class="table-bordered background text-white">
	                    <thead>
	                        <tr>
	                            <th class="text-white">Dia</th>
	                            <th class="text-white">Horários Disponíveis</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        {% for disponibilidade in disponibilidades %}
	                            <tr>
	                                <td>{{ disponibilidade.dia }}</td>
	                                <td>
	                                    {% for horario in horarios %}
	                                        {% if horario.disponibilidade == disponibilidade %}
	                                            <span class="badge bg-secondary text-dark">{{ horario.horario_disponivel }}</span>
	                                        {% endif %}
	                                    {% endfor %}
	                                </td>
	                            </tr>
	                        {% endfor %}
	                    </tbody>
	                </table>
	            </div>
	        </div>

	        <div class="col-md-6">
		        {% if messages %}
				    <ul class="messages">
				        {% for message in messages %}
				            {% if message.tags %}
				                {% if 'success' in message.tags %}
				                    <p class="message success">{{ message }}</p>
				                {% elif 'error' in message.tags %}
				                    <p class="message error">{{ message }}</p>
					            {% elif 'warning' in message.tags %}
					                <p class="message warning">{{ message }}</p>
				                {% else %}
				                    <p class="message">{{ message }}</p>
				                {% endif %}
				            {% endif %}
				        {% endfor %}
				    </ul>
	            {% endif %}
	            <div class="card">
	                <div class="card-header">
	                    <img src="{% static 'images/team3.png' %}" alt="Professional Name" class="rounded-circle" width="50" height="50">
	                    <span class="ml-3">{{ profissional.first_name }} {{ profissional.last_name }}</span>
	                </div>
	                <div class="card-body">
	                    <form action="{% url 'fazendo_agendamento_pelo_cliente' %}" method="POST">
	                        {% csrf_token %}
	                     <input type="hidden" name="profissional_id" value="{{ profissional.id }}">
	                        <div class="mb-3">
	                            <label for="dia" class="form-label">Você quer agendar para qual dia?</label>
	                            <select name="dia" id="id_dia" class="form-select">
	                                {% for disponibilidade in disponibilidades %}
	                                    <option value="{{ disponibilidade.dia }}">{{ disponibilidade.dia }}</option>
	                                {% endfor %}
	                            </select>
	                        </div>
								<div class="mb-3">
		                            <label for="horario" class="form-label">Qual Horário?</label>
		                            <select name="horario" class="form-select">
			                            {% for disponibilidade in disponibilidades %}
				                            {% for horario in horarios %}
					                            {% if horario.disponibilidade == disponibilidade %}
					                            <option value="{{ horario.horario_disponivel }}">{{ horario.horario_disponivel }}</option>
					                            {% endif %}
				                            {% endfor %}
			                            {% endfor %}
		                            </select>
	                            </div>
	                        <div class="mb-3">
	                            <label for="servico" class="form-label">Selecione um serviço</label>
	                            <select name="servico" class="form-select">
	                                {% for servico in servicos %}
	                                    <option value="{{ servico.id }}">{{ servico.nome }}, {{ servico.descricao }} R$: {{ servico.preco }}</option>
	                                {% endfor %}
	                            </select>
	                        </div>
	                        <button type="submit" class="btn btn-primary btn-user btn-block mt-3">Agendar</button>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
</div>

<style>
    /* Adicionado estilo para centralizar texto nas células */
    .table th, .table td {
        text-align: center;
        vertical-align: middle;
    }

    /* Adicionado estilo para centralizar texto nas células pequenas */
    .table-sm th, .table-sm td {
        text-align: center;
        vertical-align: middle;
    }

    .badge {
        margin-right: 5px; /* Ajuste o espaçamento conforme necessário */
        margin-bottom: 5px;
    }
    .background{
	    background: #191c24;
    }
</style>

{% endblock %}
