{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">

	<title>{% block title %}{% endblock %}</title>
	<title>labspa</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- bootstrap css -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	<!-- style css -->
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
	<!-- Responsive-->
	<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
	<!-- Scrollbar Custom CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/jquery.mCustomScrollbar.min.css' %}">
	<!-- Tweaks for older IEs-->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

</head>
<body class="main-layout">

	{% include 'assets/navbar.html' %}

	<div>
		{% block content %}{% endblock %}
	</div>

	<!-- Link para o JS do Bootstrap -->
      <!-- Javascript files-->
      <script src="{% static 'assets/js/jquery.min.js' %}"></script>
      <script src="{% static 'assets/js/popper.min.js' %}"></script>
      <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'assets/js/jquery-3.0.0.min.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'assets/js/custom.js' %}"></script>
      <script>
         $('a[href^="#"]').on('click', function(event) {

          var target = $(this.getAttribute('href'));

          if( target.length ) {
              event.preventDefault();
              $('html, body').stop().animate({
                  scrollTop: target.offset().top
              }, 2000);
          }

         });
      </script>

	<script>
		// This example adds a marker to indicate the position of Bondi Beach in Sydney,
		// Australia.
		function initMap() {
		var map = new google.maps.Map(document.getElementById('map'), {
		 zoom: 11,
		 center: {lat: 40.645037, lng: -73.880224},
		 });

		var image = 'images/maps-and-flags.png';
		var beachMarker = new google.maps.Marker({
		 position: {lat: -14.2193381, lng: -42.7796907},
		 map: map,
		 icon: image
		});
		}
	</script>

      <!-- google map js -->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>

      <!-- end google map js -->

{% include 'assets/footer.html' %}

</body>
</html>