{% extends 'assets/static/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Lista de Agendamentos</h2>

    {% if agendamentos %}
        <table class="table">
            <thead>
                <tr>
	                <th scope="col">Criado por</th>
                    <th scope="col">Cliente</th>
	                <th scope="col">Profissional</th>
                    <th scope="col">Serviço</th>
                    <th scope="col">Data</th>
                    <th scope="col">Horário</th>
                    <th scope="col">Status</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for agendamento in agendamentos %}
                    <tr>
                        <td>{{ agendamento.criado_por.username }}</td>
                        <td>{{ agendamento.cliente.username }}</td>
	                    <td>{{ agendamento.profissional.username }}</td>
                        <td>{{ agendamento.servico.nome_servico }}</td>
                        <td>{{ agendamento.dia|date:"D, d M Y" }}</td>
                        <td>{{ agendamento.horario|time:"H:i" }}</td>
                        <td>{{ agendamento.get_status_agendamento_display }}</td>
                        <td>
                            <a href="" class="btn btn-sm btn-success">Editar</a>
	                        <a href="" class="btn btn-sm btn-danger">Remover</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum agendamento encontrado.</p>
    {% endif %}
</div>
{% endblock %}
