{% extends 'assets/static/base.html' %}
{% block content %}

<div id="intro" class="container py-5">
  <div class="card p-5 text-dark ">
    <h3 class="mb-4">Remover Disponibilidade: {{disponibilidades.dia}} de {{disponibilidades.horario_inicio}} as {{disponibilidades.horario_fim}}</h3>
    <h3 class="mb-4">Tem certeza que deseja deletar este Horário?</h3>
    <div class="d-flex justify-content-between">
      <a class="btn btn-danger mr-2" href="{% url 'confirmar_remocao_disponibilidade' disponibilidades.id %}">Sim</a>
      <a class="btn btn-secondary" href="{% url 'add_disponibilidade'%}">Não</a>
    </div>
  </div>
</div>

<style>
	body{
		background:  #a4152d;
	}
	.card{
		margin-top: 100px;
	}
</style>
{% endblock %}