{% extends 'assets/static/base.html' %}
{% load static %}
{% block content %}

<!-- loader  -->
<div class="loader_bg">
  <div class="loader"><img src="{% static 'assets/images/loading.gif' %}" alt="#" /></div>
</div>
<!-- end loader -->

<!-- banner -->
<section class="banner_main">
 <div id="banner1" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
       <li data-target="#banner1" data-slide-to="0" class="active"></li>
       <li data-target="#banner1" data-slide-to="1"></li>
       <li data-target="#banner1" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
       <div class="carousel-item active">
          <div class="container-fluid">
             <div class="carousel-caption">
                <div class="row">
                   <div class="col-md-6">
                      <div class="text-bg">
                         <span>Bem vindo ao</span>
                         <h1>Beleza Online</h1>
                         <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are </p>
	                     <a href="#">Marcar Horario </a> <a href="#service">Ver Serviços</a>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="text_img">
                         <figure><img src="{% static 'assets/images/girl.png' %}" alt="#"/></figure>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>

       <div class="carousel-item">
          <div class="container-fluid">
             <div class="carousel-caption">
                <div class="row">
                   <div class="col-md-6">
                      <div class="text-bg">
                         <span>Bem vindo ao</span>
                         <h1>Beleza Online</h1>
                         <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are </p>
	                     <a href="#">Marcar Horario </a> <a href="#service">Ver Serviços</a>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="text_img">
                         <figure><img src="{% static 'assets/images/girl.png' %}" alt="#"/></figure>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
    </a>
    <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    </a>
 </div>
</section>
<!-- end banner -->
<!-- service -->
<div id="service"  class="service">
 <div class="container">
    <div class="row">
       <div class="col-md-12">
          <div class="titlepage">
             <h2> <img src="{% static 'assets/images/head.png' %}" alt="#"/> Nossos Serviços</h2>
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col-md-4">
          <div id="hover_chang" class="service_box">
             <i><img src="{% static 'assets/images/thr.png' %}" alt="#"/></i>
             <h3>Cosméticos</h3>
             <p>some form, by injected humour, or randomised words which don't look even slightly believable. If you are </p>
          </div>
       </div>
       <div class="col-md-4">
          <div id="hover_chang" class="service_box">
             <i><img src="{% static 'assets/images/thr1.png' %}" alt="#"/></i>
             <h3>Unhas</h3>
             <p>some form, by injected humour, or randomised words which don't look even slightly believable. If you are </p>
          </div>
       </div>
       <div class="col-md-4">
          <div id="hover_chang" class="service_box">
             <i><img src="{% static 'assets/images/thr2.png' %}" alt="#"/></i>
             <h3>Cabeleireiro</h3>
             <p>some form, by injected humour, or randomised words which don't look even slightly believable. If you are </p>
          </div>
       </div>
       <div class="col-md-12">
          <a class="read_more" href="#">Tabela de Preços</a>
       </div>
    </div>
 </div>
</div>
<!-- service -->
<!-- about -->
<div id="about"  class="about">
 <div class="container">
    <div class="row">
       <div class="col-md-9">
          <div class="titlepage">
             <h2> <img src="{% static 'assets/images/head.h.png' %}" alt="#"/> About Our Labspa</h2>
             <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are </p>
             <a class="read_more">Read More</a>
          </div>
       </div>
    </div>
 </div>
</div>
<!-- end about -->
<!-- customer -->
<div id="customer" class="customer">
 <div class="container">
    <div class="row">
       <div class="col-md-12">
          <div class="titlepage">
             <h2> <img src="{% static 'assets/images/head.png' %}" alt="#"/> Our Customer Feedback</h2>
          </div>
       </div>
    </div>
    <div id="myCarousel" class="carousel slide customer_Carousel " data-ride="carousel">
       <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
       </ol>
       <div class="carousel-inner">
          <div class="carousel-item active">
             <div class="container">
                <div class="carousel-caption ">
                   <div class="test_box">
                      <i><img src="{% static 'assets/images/tes.png' %}" alt="#"/></i>
                      <h4>Rohali jonson</h4>
                      <span>customer</span>
                      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined </p>
                      <img src="{% static 'assets/images/icon.png' %}" alt="#"/>
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel-item">
             <div class="container">
                <div class="carousel-caption">
                   <div class="test_box">
                      <i><img src="{% static 'assets/images/tes.png' %}" alt="#"/></i>
                      <h4>Rohali jonson</h4>
                      <span>customer</span>
                      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined </p>
                      <img src="{% static 'assets/images/icon.png' %}" alt="#"/>
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel-item">
             <div class="container">
                <div class="carousel-caption">
                   <div class="test_box">
                      <i><img src="{% static 'assets/images/tes.png' %}" alt="#"/></i>
                      <h4>Rohali jonson</h4>
                      <span>customer</span>
                      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined </p>
                      <img src="{% static 'assets/images/icon.png' %}" alt="#"/>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
       <i class="fa fa-chevron-left" aria-hidden="true"></i>
       </a>
       <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
       <i class="fa fa-chevron-right" aria-hidden="true"></i>
       </a>
    </div>
 </div>
</div>
<!--  contact -->
  <div id="contact" class="contact">
     <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="titlepage">
                 <h2> <img src="{% static 'assets/images/head.png' %}" alt="#"/> Request <span class="white"> A call Back</span></h2>
              </div>
           </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <form id="request" class="main_form">
                 <div class="row">
                    <div class="col-md-12 ">
                       <input class="contactus" placeholder="Name" type="type" name="Name">
                    </div>
                    <div class="col-md-12">
                       <input class="contactus" placeholder="Email" type="type" name="Email">
                    </div>
                    <div class="col-md-12">
                       <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number">
                    </div>
                    <div class="col-md-12">
                       <textarea class="textarea" placeholder="Message" type="type" Message="Name">Message </textarea>
                    </div>
                    <div class="col-sm-col-xl-6 col-lg-6 col-md-6 col-sm-12">
                       <button class="send_btn">Send</button>
                    </div>
                 </div>
              </form>
           </div>

           <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Guanambi+Brasil" width="600" height="432" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
                 </div>
           </div>
        </div>

     </div>
  </div>
  <!-- end contact -->
<!-- end customer -->
<style>
.marcar-horario{
     color: red;
	border-radius: 10px;
	align-items: center;
	height: 100px;
	width: 200px;
}
</style>

{% endblock %}

