{% load static %}
<!-- header -->
  <header>
     <!-- header inner -->
     <div class="header">
        <div class="container">
           <div class="row">
              <div class="col-xl-5 col-lg-5 col-md-9 col-sm-9">
                 <nav class="navigation navbar navbar-expand-md navbar-dark ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarsExample04">
                       <ul class="navbar-nav mr-auto">
                          <li class="nav-item active">
                             <a class="nav-link" href="{% url 'home' %}"> Home  </a>
                          </li>
                          <li class="nav-item">
                             <a class="nav-link" href="#about">Sobre</a>
                          </li>
                          <li class="nav-item">
                             <a class="nav-link" href="#service">Serviços</a>
                          </li>
                          <li class="nav-item">
                             <a class="nav-link" href="#customer">Customização</a>
                          </li>
                          <li class="nav-item">
                             <a class="nav-link" href="#contact">Contato</a>
                          </li>
	                    {% if user.is_authenticated %}
	                     <li class="nav-item"><a class="nav-link" href="{% url 'minha_conta' %}">Minha Conta</a></li>
		                 <li class="nav-item"><a class="nav-link" href="{% url 'listar_usuarios' %}">Gerenciar Usuários</a></li>
		                 <li class="nav-item"><a class="nav-link" href="{% url 'add_servico' %}">Gerenciar Serviços</a></li>
	                     <li class="nav-item"><a class="nav-link" href="{% url 'add_disponibilidade' %}">Gerenciar Disponibilidade</a></li>
		                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Sair</a></li>
	                   {% else %}
	                       <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
	                   {% endif %}
                       </ul>

{#	                    {% if user.is_authenticated %}#}
{#						    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">#}
{#						        <li class="nav-item dropdown">#}
{#						            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#						                <i class="fas fa-user fa-fw"></i>#}
{#						            </a>#}
{#						            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">#}
{#						                <li><a class="dropdown-item" href="#">{{ user.username }}</a></li>#}
{#						                <li><hr class="dropdown-divider" /></li>#}
{#						                <li><a class="dropdown-item" href="{% url 'listar_usuarios' %}">Gerenciar Usuários</a></li>#}
{#						                <li><a class="dropdown-item" href="{% url 'add_servico' %}">Gerenciar Serviços</a></li>#}
{#						                <li><a class="dropdown-item" href="{% url 'add_disponibilidade' %}">Gerenciar Disponibilidade</a></li>#}
{#						                <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>#}
{#						            </ul>#}
{#						        </li>#}
{#						    </ul>#}
{#						{% else %}#}
{#						    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">#}
{#						        <li class="nav-item">#}
{#						            <a class="nav-link" href="{% url 'login' %}">Login</a>#}
{#						        </li>#}
{#						    </ul>#}
{#						{% endif %}#}

                    </div>
                 </nav>
              </div>
{#              <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col logo_section">#}
{#                 <div class="full">#}
{#                    <div class="center-desk">#}
{#                       <div class="logo">#}
{#                          <a href="{% url 'home' %}"><img src="{% static 'assets/images/logo.png' %}" alt="#" /></a>#}
{#                       </div>#}
{#                    </div>#}
{#                 </div>#}
{#              </div>#}
           </div>
        </div>
     </div>
  </header>
  <!-- end header inner -->
  <!-- end header -->