{% load static %}
	<nav class="navbar p-0 fixed-top d-flex flex-row">
	  <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
	    <a class="navbar-brand brand-logo-mini" href="{% url 'home' %}"><img src="{% static 'images/logo-mini-b.png' %}" alt="logo" style="width: 45px; height: 45px"/></a>
	  </div>
	  <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
	    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
	      <span class="mdi mdi-menu"></span>
	    </button>
	    <ul class="navbar-nav w-100">
	      <li class="nav-item w-100">
	        <form method="GET" action="{% url 'buscar_servicos' %}" class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
	          <input type="text" name="q" class="form-control mr-sm-2" placeholder="Procurar por serviços">
		        <div class="input-group-append">
			        <button type="submit" class="btn btn-primary">Buscar</button>
		        </div>
	        </form>
	      </li>
	    </ul>
	    <ul class="navbar-nav navbar-nav-right">
	      <li class="nav-item dropdown d-none d-lg-block">
	{#        <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="{% url 'selecione_profissional_para_agendamento' %}">+ Fazer novo agendamento</a>#}
	      </li>

	      <li class="nav-item dropdown">
	        <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
	          <div class="navbar-profile">
	            {% if user.is_authenticated %}
		          {% if user.imagem %}
                     <img class="img-xs rounded-circle" src="{{ user.imagem.url }}" alt="imagem de perfil">
					<p class="mb-0 d-none d-sm-block navbar-profile-name">{{ user.username }}</p>
		          {% else %}
		            <img class="img-xs rounded-circle" src="{% static 'images/detectedImage.jpg' %}" alt="imagem de perfil">
	                <p class="mb-0 d-none d-sm-block navbar-profile-name">{{ user.username }}</p>
			       {% endif %}
		        {% else %}
		            <img class="img-xs rounded-circle" src="{% static 'images/detectedImage.jpg' %}" alt="imagem de perfil">
			        <p class="mb-0 d-none d-sm-block navbar-profile-name">Visitante</p>
		          {% endif %}
	            <i class="mdi mdi-menu-down d-none d-sm-block"></i>
	          </div>
	        </a>
	        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
	          {% if user.is_authenticated %}
			      <h6 class="p-3 mb-0">Perfil</h6>
		          <div class="dropdown-divider"></div>
		          <a href="{% url 'minha_conta' %}" class="dropdown-item preview-item">
		            <div class="preview-thumbnail">
					<span class="material-symbols-outlined">
					account_circle
					</span>
		            </div>
		            <div class="preview-item-content">
		              <p class="preview-subject mb-1">Minha conta</p>
		            </div>
		          </a>
			          <div class="dropdown-divider"></div>
			          <a href="{% url 'logout' %}" class="dropdown-item preview-item">
			            <div class="preview-thumbnail">
						 <span class="material-symbols-outlined">
						logout
						</span>
			            </div>
			            <div class="preview-item-content">
			              <p class="preview-subject mb-1">Log out</p>
			            </div>
			          </a>
		        {% else %}
		          <h6 class="p-3 mb-0">Perfil</h6>
		          <div class="dropdown-divider"></div>
		          <a href="{% url 'logout' %}" class="dropdown-item preview-item">
		            <div class="preview-thumbnail">
					 <span class="material-symbols-outlined">
					logout
					</span>
		            </div>
		            <div class="preview-item-content">
		              <p class="preview-subject mb-1">Login</p>
		            </div>
		          </a>
		        {% endif %}
	        </div>
	      </li>
	    </ul>
	    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
	      <span class="mdi mdi-format-line-spacing"></span>
	    </button>
	  </div>
	</nav>