{% extends 'assets/static/base.html' %}
{% block content %}
{% load bootstrap4 %}
{% load static %}

<div class="bg-image overlay" id="intro">
  <div class="mask d-flex align-items-center h-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
          <form class="bg-color-login rounded shadow-5-strong p-5 text-white" method="POST">
            <h4 class="text-center mb-4">Login</h4>

            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="hidden" name="next" value="{{ next }}">

            <div class="row mb-4">
              <div class="col text-center">
                <a href="{% url 'password_reset' %}">Esqueceu sua senha?</a>
              </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            <p class="text-center mt-3">
              Ainda não tem uma conta? <a href="{% url 'register' %}">Faça seu registro</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
	.bg-color-login{
		background: transparent;
	}
  .bg-image {
    height: 100vh; /* Definir a altura da imagem como 100% da altura da tela */
	background-image: url({% static 'images/big_image_1.jpg' %});
    background-size: cover;
    background-position: center;
  }

</style>
{% endblock %}
