{% extends 'assets/static/base.html' %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h3 class="mb-0 text-dark">Meu Perfil</h3>
          </div>
          <div class="card-body">
            <form class="form" role="form" autocomplete="off" enctype="multipart/form-data">
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Nome</label>
                <div class="col-lg-9">
                  <input class="form-control" type="text" value="{{ user.first_name }}" readonly>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Sobrenome</label>
                <div class="col-lg-9">
                  <input class="form-control" type="text" value="{{ user.last_name }}" readonly>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Nome de Usuário</label>
                <div class="col-lg-9">
                  <input class="form-control" type="text" value="{{ user.username }}" readonly>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">E-mail</label>
                <div class="col-lg-9">
                  <input class="form-control" type="email" value="{{ user.email }}" readonly>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Tipo de Usuário</label>
                <div class="col-lg-9">
                  <input class="form-control" type="text" value="{% if user.groups.all %}{{ user.groups.all.0.name }}{% endif %}" readonly>
                </div>
              </div>
			 <div class="form-group row">
			        <label class="col-lg-3 col-form-label form-control-label">Foto de Perfil</label>
			        <div class="col-lg-9">
			            {% if user.imagem %}
			                <!-- Mostra a foto atual -->
			                <img src="{{ user.imagem.url }}" alt="Foto de Perfil" style="max-width: 100px; max-height: 100px;">
                                       
                  {% else %}
			                <p>voce nao ainda nao possui nenhuma foto de perfil</p>
                  {% endif %}
			        </div>
			    </div>
            </form>
          </div>
        </div>
	      <a href="{% url 'alterar_dados' %}" class="button btn btn-success">Alterar Dados</a>
          <a href="{% url 'home' %}" class="button btn btn-secondary">Voltar</a>
      </div>
    </div>
  </div>
	<style>
		.card{
			margin-top: 150px;
			margin-bottom: 50px;
			padding: 30px;
			color: black;
		}
		.button{
			margin-bottom: 100px;
		}
		body{
			background: #212520;
		}


	</style>
{% endblock %}
