{% extends 'assets/static/base.html' %}
{% load static %}
{% block content %}
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
	        <a class="navbar-brand ps-3 text-white" href="{% url 'home' %}">
			    <h3 class="sidebar-brand brand-logo text-white">BarberShop</h3>
	{#		    <a class="sidebar-brand brand-logo" href="{% url 'home' %}"><img src="{% static 'images/barbershop-logo.png' %}" alt="logo" /></a>#}
			    <a class="sidebar-brand brand-logo-mini" href="{% url 'home' %}"><img src="{% static 'images/logo-mini-b.png' %}" alt="logo" />
			    </a>
			</a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="{% static 'assets/images/faces/face15.jpg' %}" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
	                {% if user.is_authenticated %}
		                <h5 class="mb-0 font-weight-normal">{{ user.username }}</h5>
	                {% else %}
		                <p class="text-white">Visitante</p>
	                {% endif %}
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <a href="{% url 'minha_conta' %}" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Configurações</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'password_reset' %}" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Mudar Senha</p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navegação</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'home' %}">
			<span class="material-symbols-outlined">
			home
			</span>
              <span class="menu-title">Home</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
			<span class="material-symbols-outlined">
			calendar_add_on
			</span>
              <span class="menu-title">Agendamento</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'selecione_profissional_para_agendamento' %}">Fazer agendamento</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'listar_agendamentos_cliente' %}">Meus Agendamentos</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
			<span class="material-symbols-outlined">
			admin_panel_settings
			</span>
              <span class="menu-title">Administrativo</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'listar_e_cadastrar_usuarios' %}">Usuários</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'add_disponibilidade' %}">Disponibilidade</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'listar_horarios' %}">Horários</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'add_parametro' %}">Parametros</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'add_servico' %}">Serviços</a>
	            <li class="nav-item"> <a class="nav-link" href="{% url 'add_imagem_servico' %}">Imagens de Serviços</a>
	            <li class="nav-item"> <a class="nav-link" href="{% url 'adicionar_fidelidade' %}">Fidelidade</a>
              </ul>
            </div>
          </li>
	        <li class="nav-item menu-items">
	            <a class="nav-link" data-toggle="collapse" href="#ui-basico" aria-expanded="false" aria-controls="ui-basico">
				<span class="material-symbols-outlined">
				calendar_add_on
				</span>
	              <span class="menu-title">Agendamento</span>
	              <i class="menu-arrow"></i>
	            </a>
	            <div class="collapse" id="ui-basico">
	              <ul class="nav flex-column sub-menu">
	                <li class="nav-item"> <a class="nav-link" href="{% url 'fazer_agendamento_pelo_profissional' %}">Fazer agendamento</a></li>
	                <li class="nav-item"> <a class="nav-link" href="{% url 'listar_agendamentos' %}">Agendamentos</a></li>
	              </ul>
	            </div>
          </li>
	      <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'mostrar_pontos' user.id %}">
			<span class="material-symbols-outlined">
			card_membership
			</span>
              <span class="menu-title">Fidelidade</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
	<div class="main-panel">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="mb-0 text-white">Meu Perfil</h3>
          </div>
          <div class="card-body text-white">
            <form class="form" role="form" autocomplete="off" enctype="multipart/form-data">
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Nome</label>
                <div class="col-lg-9">
                  <input class="form-control text-dark" type="text" value="{{ usuario.first_name }}" readonly>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Sobrenome</label>
                <div class="col-lg-9">
                  <input class="form-control text-dark" type="text" value="{{ usuario.last_name }}" readonly>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Usuário</label>
                <div class="col-lg-9">
                  <input class="form-control text-dark" type="text" value="{{ usuario.username }}" readonly>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">E-mail</label>
                <div class="col-lg-9">
                  <input class="form-control text-dark" type="email" value="{{ usuario.email }}" readonly>
                </div>
              </div>
	            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Telefone</label>
                <div class="col-lg-9">
                  <input class="form-control text-dark" type="tel" value="{{ usuario.telefone }}" readonly>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Tipo de Usuário</label>
                <div class="col-lg-9">
                  <input class="form-control text-dark" type="text" value="{% if usuario.groups.all %}{{ usuario.groups.all.0.name }}{% endif %}" readonly>
                </div>
              </div>
			 <div class="form-group row">
		        <label class="col-lg-3 col-form-label form-control-label">Foto de Perfil</label>
		        <div class="col-lg-9">
		            {% if usuario.imagem %}
		                <!-- Mostra a foto atual -->
		                <img src="{{ usuario.imagem.url }}" alt="Foto de Perfil" style="max-width: 100px; max-height: 100px;">
		            {% endif %}
		            <input class="form-control text-dark" type="file" name="photo" readonly>
		            <small class="form-text text-muted">Escolha uma foto para atualizar ou adicionar.</small>
		        </div>
			 </div>
            </form>
          </div>
        </div>
	      <a href="{% url 'alterar_dados' %}" class="button btn btn-success">Editar Perfil</a>
          <a href="{% url 'home' %}" class="button btn btn-secondary">Voltar</a>
      </div>
    </div>
  </div>
</div>
	<style>
		.card{
			margin-top: 150px;
			margin-bottom: 50px;
			padding: 30px;
			color: black;
		}
		.button{
			margin-bottom: 100px;
		}
		body{
			background: #212520;
		}


	</style>
{% endblock %}
