{% extends 'assets/static/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container py-5">
    <h2>Gerenciar Serviços</h2>
    <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="add-servico-tab" data-toggle="tab" href="#add-servico" role="tab" aria-controls="add-servico" aria-selected="true">Adicionar Serviço</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="listar-servico-tab" data-toggle="tab" href="{% url 'listar_servicos' %}" role="tab" aria-controls="listar-servico" aria-selected="false">Listar Serviços</a>
        </li>
    </ul>

    <div class="tab-content mt-4" id="myTabContent">
        <!-- Adicionar Modelo -->
        <div class="tab-pane fade show active" id="add-servico" role="tabpanel" aria-labelledby="add-servico-tab">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card o-hidden border-0 shadow-lg">
                        <div class="card-body p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4 text-dark">Cadastrar Novo Serviço</h1>
                            </div>
                            <form enctype="multipart/form-data" method="POST" class="text-dark">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <button class="btn btn-primary btn-user btn-block mt-3" type="submit">Cadastrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Listar Serviços -->

    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <a class="btn btn-secondary" href="{% url 'home' %}">Voltar</a>
        </div>
    </div>
</div>
	<style>
		body{
			background: #a4152d;
		}
	</style>
{% endblock %}
