{% extends 'assets/static/base.html' %}
{% load bootstrap4 %}

{% block content %}
	<body class="sb-nav-fixed">
		<div id="layoutSidenav">
		    <div id="layoutSidenav_nav">
		        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
		            <div class="sb-sidenav-menu">
		                <div class="nav">
		                    <div class="sb-sidenav-menu-heading">Core</div>
			                <a class="nav-link" href="{% url 'home' %}">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-house"></i></div>
                                HOME
                            </a>
		                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
		                        <div class="sb-nav-link-icon"><i class="fa-solid fa-calendar-days"></i></div>
		                        Agendamento
		                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
		                    </a>
		                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
		                        <nav class="sb-sidenav-menu-nested nav">
		                            <a class="nav-link" href="">Fazer Agendamento</a>
		                            <a class="nav-link" href="{% url 'listar_agendamentos' %}">Meus Agendamentos</a>
		                            <a class="nav-link" href="#">Histórico</a>
		                        </nav>
		                    </div>

		                    <div class="sb-sidenav-menu-heading">Administração</div>
		                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
		                        <div class="sb-nav-link-icon"><i class="fa-solid fa-user-tie"></i></div>
		                        Administrativo
		                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
		                    </a>
		                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
		                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
		                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
		                                Gerenciamentos
		                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
		                            </a>
		                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
		                                <nav class="sb-sidenav-menu-nested nav">
		                                    <a class="nav-link" href="{% url 'listar_usuarios' %}">Usuários</a>
		                                    <a class="nav-link" href="{% url 'add_disponibilidade' %}">Disponibilidade</a>
		                                    <a class="nav-link" href="{% url 'add_parametro' %}">Parametros</a>
		                                    <a class="nav-link" href="{% url 'add_servico' %}">Serviços</a>
		                                    <a class="nav-link" href="password.html">Fidelidade</a>
		                                </nav>
		                            </div>

		                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
		                                Agendamento
		                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
		                            </a>
		                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
		                                <nav class="sb-sidenav-menu-nested nav">
		                                    <a class="nav-link" href="{% url 'fazer_agendamento_pelo_profissional' %}">Fazer Agendamento</a>
		                                    <a class="nav-link" href="{% url 'listar_agendamentos' %}">Agendamentos</a>
		                                </nav>
		                            </div>

		                        </nav>
		                    </div>

		                    <div class="sb-sidenav-menu-heading">Programas e Promoções</div>
		                    <a class="nav-link" href="#">
		                        <div class="sb-nav-link-icon"><i class="fa-solid fa-money-check-dollar"></i></div>
		                        Fidelidade
		                    </a>
		                </div>
		            </div>
		            <div class="sb-sidenav-footer">
		                <div class="small">Logado como:</div>
		                {{ user.username }}
		            </div>
		        </nav>
		    </div>

	{#	-----------------------------------#}

	    <div id="layoutSidenav_content">
	        <main>
	            <div class="container-fluid px-4">
	                <h1 class="mt-4">Gerencie os Serviços</h1>

	                <div class="row">
					    <div class="tab-content mt-4" id="myTabContent">
					        <!-- Adicionar Parametros -->
					        <div class="tab-pane fade show active">
					            <div class="row justify-content-center">
					                <div class="col-md-6">
					                    <div class="card o-hidden border-0 shadow-lg">
					                        <div class="card-body p-5">
					                            <div class="text-center">
					                                <h1 class="h4 text-gray-900 mb-4 text-dark">Cadastrar Serviço</h1>
					                            </div>
					                            <form enctype="multipart/form-data" method="POST" class="text-dark">
					                                {% csrf_token %}
					                                {% bootstrap_form form %}

					                                <button class="btn btn-primary btn-user btn-block mt-3" type="submit">Cadastrar</button>
					                            </form>
					                        </div>
					                    </div>
					                </div>
					            </div>
					        </div>
					    </div>

				        <!-- Listar Serviços -->
				        <div>
				            <div class="row justify-content-center mt-4">
				                <div class="col-md-8 py-5">
				                    <div class="card o-hidden border-0 shadow-lg">
				                        <div class="card-body p-0">
				                            <div class="table-responsive">
				                                <h3 class="p-4">Lista de Serviços</h3>
				                                <table class="table text-dark">
				                                    <thead>
				                                        <tr>
				                                            <th scope="col">ID</th>
				                                            <th scope="col">Nome</th>
					                                        <th scope="col">Preço</th>
					                                        <th scope="col">Descrição</th>
				                                            <th scope="col">Duração/Min</th>
				                                        </tr>
				                                    </thead>
				                                    <tbody>
				                                        {% for servico in servicos %}
				                                        <tr>
				                                            <td>{{ servico.id }}</td>
				                                            <td>{{ servico.nome_servico }}</td>
					                                        <td>{{ servico.preco }}</td>
					                                        <td>{{ servico.descricao }}</td>
				                                            <td>{{ servico.janela_tempo }}</td>
				                                            <td>
				                                                <a href="{% url 'editar_servico' servico.id %}" class="btn btn-success btn-sm">Editar</a>
				                                                <a href="{% url 'remover_servico' servico.id %}" class="btn btn-danger btn-sm">Remover</a>
				                                            </td>
				                                        </tr>
				                                        {% endfor %}
				                                    </tbody>
				                                </table>
				                            </div>
				                        </div>
				                    </div>
				                </div>
				            </div>
				        </div>
	                </div>
	            </div>
	        </main>
	    </div>

		</div>

	</body>

	<style>
		body{
			background: #a4152d;
		}
	</style>
{% endblock %}
