{% extends 'assets/static/base.html' %}
{% load static %}
{% block content %}
	<body class="sb-nav-fixed">
		<div id="layoutSidenav">
					<div id="layoutSidenav_nav">
		        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
		            <div class="sb-sidenav-menu">
		                <div class="nav">
		                    <div class="sb-sidenav-menu-heading">Core</div>
			                <a class="nav-link" href="{% url 'home' %}">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-house"></i></div>
                                HOME
                            </a>
		                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
		                        <div class="sb-nav-link-icon"><i class="fa-solid fa-calendar-days"></i></div>
		                        Agendamento
		                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
		                    </a>
		                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
		                        <nav class="sb-sidenav-menu-nested nav">
		                            <a class="nav-link" href="">Fazer Agendamento</a>
		                            <a class="nav-link" href="{% url 'listar_agendamentos_cliente' %}">Meus Agendamentos</a>
		                            <a class="nav-link" href="#">Histórico</a>
		                        </nav>
		                    </div>
		                    <div class="sb-sidenav-menu-heading">Administração</div>
		                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
		                        <div class="sb-nav-link-icon"><i class="fa-solid fa-user-tie"></i></div>
		                        Administrativo
		                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
		                    </a>
		                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
		                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
		                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
		                                Gerenciamentos
		                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
		                            </a>
		                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
		                                <nav class="sb-sidenav-menu-nested nav">
		                                    <a class="nav-link" href="{% url 'listar_e_cadastrar_usuarios' %}">Usuários</a>
		                                    <a class="nav-link" href="{% url 'add_disponibilidade' %}">Disponibilidade</a>
			                                <a class="nav-link" href="{% url 'listar_horarios' %}">Horários</a>
		                                    <a class="nav-link" href="{% url 'add_parametro' %}">Parametros</a>
		                                    <a class="nav-link" href="{% url 'add_servico' %}">Serviços</a>
		                                    <a class="nav-link" href="password.html">Fidelidade</a>
		                                </nav>
		                            </div>

		                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
		                                Agendamento
		                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
		                            </a>
		                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
		                                <nav class="sb-sidenav-menu-nested nav">
		                                    <a class="nav-link" href="{% url 'fazer_agendamento_pelo_profissional' %}">Fazer Agendamento</a>
		                                    <a class="nav-link" href="{% url 'listar_agendamentos' %}">Agendamentos</a>
		                                </nav>
		                            </div>

		                        </nav>
		                    </div>

		                    <div class="sb-sidenav-menu-heading">Programas e Promoções</div>
		                    <a class="nav-link" href="#">
		                        <div class="sb-nav-link-icon"><i class="fa-solid fa-money-check-dollar"></i></div>
		                        Fidelidade
		                    </a>
		                </div>
		            </div>
		            <div class="sb-sidenav-footer">
		                <div class="small">Logado como:</div>
		                {{ user.username }}
		            </div>
		        </nav>
		    </div>

			<div id="layoutSidenav_content">
				<div id="layoutSidenav_content" class="d-flex align-items-center">
				    <main class="container-fluid px-4">
				        <h2 class="mt-4 text-center">Detalhes do Serviço</h2>
				        <ol class="breadcrumb mb-4"></ol>
				        <div class="row justify-content-center">
				            <div class="col-lg-7 col-md-10">
				                {% if servico %}
				                    <div id="carouselExample" class="carousel slide mb-4" data-bs-ride="carousel">
				                        <div class="carousel-inner">
				                            {% for imagem in imagens_servico %}
				                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
				                                    <img src="{{ imagem.imagem.url }}" class="d-block w-100 img-fluid" alt="{{ imagem.servico.nome }}" style="max-height: 300px; object-fit: cover; margin: auto;">
				                                </div>
				                            {% endfor %}
				                        </div>
				                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
				                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				                            <span class="visually-hidden">Anterior</span>
				                        </button>
				                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
				                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
				                            <span class="visually-hidden">Próximo</span>
				                        </button>
				                    </div>
				                    <div class="card">
				                        <div class="card-body text-center">
				                            <h5 class="card-title">{{ servico.nome }}</h5>
				                            <p class="card-text"><strong>R$ {{ servico.preco }}</strong></p>
				                        </div>
				                    </div>
				                {% else %}
				                    <p>Serviço não encontrado.</p>
				                {% endif %}
				            </div>
				        </div>
				    </main>
				</div>
			</div>
		</div>
	</body>

{% endblock %}
