{% extends 'assets/static/base.html' %}
{% load static %}
{% block content %}
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
	        <a class="navbar-brand ps-3 text-white" href="{% url 'home' %}">
			    <h3 class="sidebar-brand brand-logo text-white">BarberShop</h3>
	{#		    <a class="sidebar-brand brand-logo" href="{% url 'home' %}"><img src="{% static 'images/barbershop-logo.png' %}" alt="logo" /></a>#}
			    <a class="sidebar-brand brand-logo-mini" href="{% url 'home' %}"><img src="{% static 'images/logo-mini-b.png' %}" alt="logo" />
			    </a>
			</a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="{% static 'assets/images/faces/face15.jpg' %}" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
	                {% if user.is_authenticated %}
		                <h5 class="mb-0 font-weight-normal">{{ user.username }}</h5>
	                {% else %}
		                <p class="text-white">Visitante</p>
	                {% endif %}
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <a href="{% url 'minha_conta' %}" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Configurações</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'password_reset' %}" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Mudar Senha</p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navegação</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'home' %}">
			<span class="material-symbols-outlined">
			home
			</span>
              <span class="menu-title">Home</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
			<span class="material-symbols-outlined">
			calendar_add_on
			</span>
              <span class="menu-title">Agendamento</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'selecione_profissional_para_agendamento' %}">Fazer agendamento</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'listar_agendamentos_cliente' %}">Meus Agendamentos</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
			<span class="material-symbols-outlined">
			admin_panel_settings
			</span>
              <span class="menu-title">Administrativo</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'listar_e_cadastrar_usuarios' %}">Usuários</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'add_disponibilidade' %}">Disponibilidade</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'listar_horarios' %}">Horários</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'add_parametro' %}">Parametros</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'add_servico' %}">Serviços</a>
	            <li class="nav-item"> <a class="nav-link" href="{% url 'add_imagem_servico' %}">Imagens de Serviços</a>
	            <li class="nav-item"> <a class="nav-link" href="{% url 'adicionar_fidelidade' %}">Fidelidade</a>
              </ul>
            </div>
          </li>
	        <li class="nav-item menu-items">
	            <a class="nav-link" data-toggle="collapse" href="#ui-basico" aria-expanded="false" aria-controls="ui-basico">
				<span class="material-symbols-outlined">
				calendar_add_on
				</span>
	              <span class="menu-title">Agendamento</span>
	              <i class="menu-arrow"></i>
	            </a>
	            <div class="collapse" id="ui-basico">
	              <ul class="nav flex-column sub-menu">
	                <li class="nav-item"> <a class="nav-link" href="{% url 'fazer_agendamento_pelo_profissional' %}">Fazer agendamento</a></li>
	                <li class="nav-item"> <a class="nav-link" href="{% url 'listar_agendamentos' %}">Agendamentos</a></li>
	              </ul>
	            </div>
          </li>
	      <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'mostrar_pontos' user.id %}">
			<span class="material-symbols-outlined">
			card_membership
			</span>
              <span class="menu-title">Fidelidade</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
	<div class="main-panel">
		<div class="container d-flex align-items-center justify-content-center vh-100">
		  <div class="card p-4 text-white text-center shadow-lg">
		    <h3 class="mb-3">Remover Horários do(a) profissional: {{profissional.first_name}} {{ profissional.last_name }}</h3>
		    <h4 class="mb-3">Tem certeza que deseja deletar estes horários?</h4>

		    <div class="d-flex justify-content-center mt-4">
		      <a class="btn btn-danger btn-lg mr-2" href="{% url 'confirmar_remocao_horarios' profissional.id %}">
		        <i class="fas fa-check-circle"></i> Sim
		      </a>
		      <a class="btn btn-secondary btn-lg" href="{% url 'listar_horarios'%}">
		        <i class="fas fa-times-circle"></i> Não
		      </a>
		    </div>
		  </div>
		</div>
	</div>
</div>
{% endblock %}
