{% extends 'assets/static/base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 py-4">
        <div class="card o-hidden border-0 shadow-lg">
            <div class="card-body p-0">
	            <h3 class="text-center py-3">Gerar horários para os profissionais</h3>

	            <div class="mb-4 px-4">
                    {% for profissional in profissionais %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">{{ profissional.first_name }} {{ profissional.last_name }}</h5>
                                <a href="{% url 'gerar_horarios_disponiveis' profissional.id %}" class="btn btn-secondary btn-sm">Gerar Horários</a>
	                            <a href="{% url 'apagar_horarios_disponiveis' profissional.id %}" class="btn btn-danger btn-sm">Apagar Horários</a>

                            </div>
                        </div>
                    {% endfor %}
                </div>

                <h3 class="text-center py-3">Lista de Horários Disponíveis</h3>

                <div class="d-flex justify-content-between align-items-center px-3 py-2">
                    <div class="input-group mb-3">
				      <div class="col-md-8 offset-md-2">
				        <form class="d-flex my-2" method="GET">
				          <input class="form-control form-control-lg mr-sm-2 flex-grow-1 busca" type="search" name="search" placeholder="Pesquise por profissional" aria-label="Search">
				          <button class="btn btn-primary" type="submit">Buscar</button>
				        </form>
				      </div>
                    </div>
                </div>
			{% if horarios %}
                <div class="table-responsive mt-3">
                    <table class="table text-dark">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Profissional</th>
                                <th scope="col">Dia</th>
                                <th scope="col">Horário Disponível</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for horario in horarios %}
                                <tr>
                                    <td>{{ horario.id }}</td>
                                    <td>{{ horario.disponibilidade.profissional }}</td>
                                    <td>{{ horario.disponibilidade.dia }}</td>
                                    <td>{{ horario.horario_disponivel }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
